langchain
langchain-community
langchain-core
langchain-chroma
langchain-groq
langchain-huggingface
langchain-text-splitters
chromadb
beautifulsoup4
requests
streamlit
datasets
numpy
pandas
tqdm
evaluate
python-dotenv