langchain
langchain-community
langchain-core
langchain-chroma
langchain-ollama
langchain-huggingface
langchain-text-splitters
sentence-transformers
huggingface-hub
torch>=2.0.0
chromadb
streamlit
datasets
numpy
pandas
tqdm
evaluate
beautifulsoup4
requests
python-dotenv

